.numeral {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;

  @at-root &__wrapper {
    position: relative;
  }

  @at-root &__title {
    font-size: 64px;
  }

  @at-root &__subtitle {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 16px;
    transform: translate(130%, -90%);
  }
}
