@import '~view-design/dist/styles/iview.css';
@import './colors.scss';
@import './share.scss';
@import './components/navbar.scss';
@import './components/numeral.scss';
@import './components/data-card.scss';
